<script src="js/main.js"></script>
<div class="vertical-center">
  <div class="container text-center">
    <div ng-include="'views/partials/jumbotron.html'"></div>
    <div class="row main-btn">
            <div class="col-lg-4">
              <a class="thumbnail" href="#/order">
                  <span class="fa fa-plus fa-5x"></span>
                  <div>New Order</div>
              </a>
            </div>
            <div class="col-lg-4">
              <a class="thumbnail" href="#/report">
                  <span class="fa fa-bar-chart fa-5x"></span>
                  <div>Reports</div>
              </a>
            </div>
            <div class="col-lg-4">
              <a class="thumbnail" href="#/setting">
                  <span class="fa fa-cog fa-5x"></span>
                  <div>Setting</div>
              </a>
            </div>
      </div>



  </div>
</div>
