<script src="js/order.js"></script>
<div class="vertical-center">
  <div class="container text-center">
    <div ng-include="'views/partials/jumbotron.html'"></div>
    <div class="row main-btn">
       <div class="alert alert-info" role="alert"><b>30% completed</b></div>
    </div>
    <div class="row main-btn">
            <div class="col-lg-12">
              <a class="thumbnail tb-silver" href="#/main">
                  <span class="fa fa-home fa-5x"></span>
                  <div>Main Page</div>
              </a>
            </div>
    </div>
  </div>
</div>
