<!doctype html>
<html lang="eng" ng-app="mycoffeeApp">
<head>
      <meta charset="utf-8">
      <title>My Coffee and Tea</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="ngProgress.css">
      <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="rootController" ng-mousemove="onMouseMove($event)">
  <div class="body-img">&nbsp;</div>
  <div class="ngView"></div>
  <script src="jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  <script type="text/javascript" src="angular-resource.min.js"></script>
  <script type="text/javascript" src="angular-route.min.js"></script>
  <script type="text/javascript" src="build/ngprogress.min.js"></script>
  <script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>
