<!doctype html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Coffee and Tea</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="webcomponentsjs/webcomponents-lite.min.js"></script>
</head>
<body>
  <script src="jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
